<div class="axis-panel panel panel-default">
    <div class="panel-heading"><span class="axis-name">Dependent axis ({{name}})</span>{{#if warningMessage}}<span
            class="pull-right alert alert-warning">{{warningMessage}}</span>{{/if}}</div>
    <div class="panel-body">
        <form role="form">
            <!--
            <div class="form-group">
              <label>Label</label>
              <input name="label" class="form-control" />
            </div>
            <div data-region="datatype" class="form-group"></div>
          -->
            <div class="axis-panel-section form-group" data-section-name="series">
                <label>Series</label>

                <div data-region="series"></div>
            </div>
            <!--
            <div class="axis-panel-section form-group" data-section-name="label-format">
              <label>Format</label>
              <div class="row">
                <div class="col-xs-3">
                  <input type="text" name="prefix" class="form-control" placeholder="prefix" >
                </div>
                <div class="col-xs-3">
                  <input type="text" name="suffix" class="form-control" placeholder="suffix">
                </div>
              </div>
            </div>
            <div class="axis-panel-section form-group" data-section-name="highlight">
              <label>Highlight</label>
              <div data-region="highlight"></div>
            </div>
            <div class="axis-panel-section form-group" data-section-name="forecast">
              <label>Forecast</label>
              <select class="form-control">
                <option>Pick a date</option>
              </select>
              <span class="help-block">When does the forecast begin?</span>
            </div>
                -->
        </form>
    </div>
</div>
