<div data-section-name="categorical">
    <select class="form-control">
        <option>Select a categories from the series</option>
    </select>
</div>
<div data-section-name="numeric">
    <select class="form-control">
        <option>None</option>
    </select>
</div>
<div data-section-name="time">
    <select class="form-control">
        <option>Select a date from the series</option>
    </select>
</div>
