<div class="alert alert-warning clearfix" role="alert">
    <h4>Warning</h4>

    <p>{{{message}}}</p>

    <p>
        <button name="ignore-warning" type="button" class="btn btn-warning">Ok, use the data anyway.</button>
    </p>
</div>
