<div class="axis-panel panel panel-default">
    <div class="panel-heading">Independent axis (X)</div>
    <div class="panel-body">
        <div class="form-group">
            <label>Column (in the imported data table)</label>
            <select name="columns" class="form-control pull"></select>
        </div>
        <div class="form-group" data-region="datatype"></div>
        <div class="form-group" data-region="dateFormat"></div>
        <!--
        <div class="form-group" data-region="label"></div>
        <div class="axis-panel-section form-group" data-section-name="highlight">
          <label>Highlight</label>
          <div data-region="highlight"></div>
        </div>
      -->
    </div>
</div>
