<div class="checkbox">
    <label>
        <input type="checkbox" name="startFromZero">Y axis starts from zero
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="flipYAxis">Left align the Y axis
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="nice">Nice
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="thinLines">Thin lines
    </label>
</div>
